.row{
    margin-left:0;
    margin-right:;
    background: #D4F1FA;
    
      /* for header */
    }

#wrapper {
    transition: all .4s ease 0s;
    height: 100%;
    width:100%;
}

#sidebar-wrapper {
    margin-left: -200px;
    left: 20px;
    width: 200px;
    background: #D4F1FA;    /* for downside menubar */
    position: fixed;
    overflow-y: auto;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;   /* for text alignment */
    width: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left:0;
    margin-left:0;
    width: 100%;
    height: auto;
    border:1px solid;
    width:960px;
}

#wrapper.active {
    padding-left: 200px;
}
#wrapper.active #sidebar-wrapper {
    left: 200px;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a,  .sidebar-nav li a{
    display: block;
    text-decoration: none;
    width: 200px;
    height:50px;
    background: white;
   
}



.sidebar_name {
    padding-top: 25px;
    color:   #D4F1FA;
    opacity: .7;
}

.sidebar-nav  li {
  line-height: 40px;
  text-indent: 10px;
}

.sidebar-nav li a {
  color: #000000;
  display: list-item;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: 	black ;
  background: #D4F1FA;
  text-decoration: none;
}
.sidebar-nav a:active{
    outline:none;
    border-color:#D4F1FA;
    background-color:#D4F1FA;
    box-shadow:0 0 10px black;
    background: #D4F1FA;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: blink;
  background-color: #D4F1FA;
}

.sidebar-nav > .sidebar-brand {
  height: 48px;
  line-height: 65px;
  font-size: 25px;
}

.sidebar-nav > .sidebar-brand a {
 
}
/* 
.sidebar-nav > .sidebar-brand a:hover {
  color: #00FFFF;
  background: #FF00FF;
} */

#main_icon
{
   float:right;
   padding-right: 0;
   padding-top: 20px;
}

/* .sub_icon
{
    float:right;
   padding-right: 65px;
   padding-top:10px;
} */

/* .content-header {
  height: 65px;
  line-height: 65px;
} */


/* .content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
} */


/* @media (max-width:767px) {
    #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
} */


/* #sidebar-wrapper {
    left: 70px;
} */

/* #wrapper.active {
    padding-left: 200px;
} */

/* #wrapper.active #sidebar-wrapper {
    left: 200px;
    width: 200px;
    transition: all .4s ease 0s;
} */


nav > li > a:hover{
    background-color:#FCC;
}





}
